.page{
    height: 1080px;
    width: 1920px;
    background-color: rgb(39, 39, 39);
}
.top{
    background-color:#111;
    top: 0;
    height: 50px;
    width: 1920px;
    position: fixed;
    

}
.logo{
    height:50px;
    width: 170px;
    background-color: rgb(170, 170, 170);
    position: relative;
    right: 1px;
    font-size: 24px;
    font-family: Inter;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid -1px white;
}
.mids{
    width: 1750px;
    bottom: 0;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}
.sidebar{
    height: 1030px;
    width: 170px;
    position: absolute;
    margin-left: 0;
    background-color: blanchedalmond;
    bottom: 0px;
}
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   margin: 0;
}

.sidebar{
   position: fixed;
   width: 250px;
   top:0;
   left: 0;
   bottom: 0;
   background: #111;
   padding-top: 50px;
}

.sidebar h1{
   display: block;
   padding: 20px 10px;
   color: #fff;
   text-decoration: none;
   letter-spacing: 2px;
   font-weight: 400;
   margin: 0;
   font-size: 40px;
   text-transform: uppercase;
}

.sidebar a{
   display: block;
   padding: 70px 10px;
   color: #bbb;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
   font-size: 25px;
}

.sidebar a:hover{
   color: #fff;
   margin-left: 20px;
   transition: 0.4s;
}